<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hisavana.ssp">
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.BaseApp"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/icon_app_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.NativeMainActivity"
            android:exported="false" />
        <activity
            android:name=".rewarded.ADMediationRewardedAdActivity"
            android:exported="false" />

        <meta-data
            android:name="com.transsion.ad.unity.GAME_ID"
            android:value="3191527" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9157456537535562~4840692163" />

        <activity
            android:name=".ui.DemoMainActivity"
            android:exported="true"
            android:launchMode="singleTask"></activity>
        <activity android:name=".ui.NativeAdActivity" />
        <activity android:name=".ui.NativeAdInListActivity" />
        <activity android:name=".ui.IconAdActivity" />
        <activity android:name=".ui.BannerAdActivity" />
        <activity android:name=".ui.InterstitialActivity" />
        <activity android:name=".ui.HotAppActivity" />
        <activity android:name=".ui.SplashAdActivity" /> <!-- google ad activity -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.Light"
            tools:replace="android:theme" />
        <activity
            android:name=".ui.DemoSplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>